on:
  push

name: ServiceNow Cloud Using Curl

jobs:
  my-job:
    name: My Job
    runs-on: ubuntu-latest
    steps:

    - name: Execute Table API
      run: curl "https://dev65130.service-now.com/api/now/table/problem?sysparm_limit=1" --request GET --header "Accept:application/json" --user ${{secrets.SNOWCRED}}
    - name: Create Issue
      run: curl "https://dev65130.service-now.com/api/now/table/incident" --request POST --header "Accept:application/json" --header "Content-Type:application/json" --data "{'short_description':'Unable to connect to office wifi','assignment_group':'287ebd7da9fe198100f92cc8d1d2154e','urgency':'2','impact':'2'}" --user 'admin':'123456'
